version: "3.3"
services:
  database:
    image: postgres
    #restart: always
    env_file:
      - ./config/env/.env
    ports:
      - 5432:5432
  backend:
    build:
      context: .
      dockerfile: config/docker/backend/Dockerfile
    image: backend_server
    depends_on:
      - database
    command: ./manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    env_file:
      - config/env/.env

